.btn-loading {
    color: transparent !important;
    pointer-events: none;
    position: relative;
}

.btn-loading:after {
    content: "";
    -webkit-animation: loader 500ms infinite linear;
    animation: loader 500ms infinite linear;
    border: 2px solid black;
    border-radius: 50%;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    display: block;
    height: 1.4em;
    width: 1.4em;
    position: absolute;
    left: calc(50% - 0.7em);
    top: calc(50% - 0.7em);
    -webkit-transform-origin: center;
    transform-origin: center;
    position: absolute !important;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
